@import "assets/variables.scss";
@import "assets/mixin.scss";

.detail {
  .breakcum {
    background-color: rgb(255, 243, 218);
    padding: 50px;
  }
  .product_detail {
    .top {
      display: flex;
    justify-content: center;
    margin-top: 40px;
    .images_product {

      
    }
    }
  }
}